# Core Data & Analysis
pandas
numpy
scipy
scikit-learn

# Financial Data APIs
# Data Science
statsmodels
yfinance
nasdaq-data-link
intrinio-sdk
alpha_vantage
pycoingecko

# Visualization
matplotlib
seaborn
plotly

# Testing
pytest

# Other
python-dotenv
