# Core Data & Analysis
pandas
numpy

# Financial Data APIs
yfinance
v20==3.0.25.0
ibapi
scikit-learn

# Financial Modeling & Statistics
scipy
statsmodels
backtrader

# Visualization
matplotlib>=3.8
seaborn
mplfinance

# Testing
pytest
pytest-mock

# Notebook Tools
nbconvert
